article img {
	height: 100px;
	width: 100px;
	float: left;
	display:block;
}

article a {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav{
	float:left;
	width: 20%;
	background-color: #2392a5;
	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

article{
	float:right;
	width: 80%;
}

nav a{ 
	text-decoration: none;
	color: #a7d4dc;
	font-weight: 900;
	display: block;
	padding-left: 43px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 10px;
}
nav img{
	padding-top: 40px;
	padding-left: 10px;
}

nav a:hover{
	color: white;
}

nav a:select{
	color:white;
}

